@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 50% 99%;
    /* Branco Perolado: #FDFBFB */
    --foreground: 0 0% 20%;
    /* Darker gray for text */
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;

    /* Dourado: #D4AF37 */
    --primary: 46 65% 52%;
    --primary-foreground: 0 0% 100%;

    /* Rosa Chá: #FADADD */
    --secondary: 354 72% 92%;
    --secondary-foreground: 0 0% 20%;

    --muted: 0 0% 95%;
    --muted-foreground: 0 0% 40%;

    --accent: 354 72% 92%;
    --accent-foreground: 0 0% 20%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 46 65% 52%;
    /* Dourado */
    --input: 0 0% 85%;
    --ring: 46 65% 52%;
    /* Dourado */
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Montserrat', sans-serif;
  }
}

/* Scroll suave */
html {
  scroll-behavior: smooth;
}

/* Esconder scrollbar mas manter funcionalidade */
::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #181511; 
}
::-webkit-scrollbar-thumb {
  background: #544b3b; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f59f0a; 
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Suprimir erros de hidratação */
[data-hydration-error] {
  display: none !important;
}

/* Animações personalizadas */
@keyframes pulse-slow {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }
}

.animate-pulse-slow {
  animation: pulse-slow 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.glass-panel {
  background: rgba(34, 28, 16, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(84, 75, 59, 0.5);
}



@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}